:root {
    --cinza: #6C757D;
    --branco: #ffffff;
    --vermelhoClaro: #F2676E;
    --vermelhoEscuro: #B70F18;
    --preto: #000000;
    --pretoSecundario: #111111;
}

.my-lembretes-divisao{
    border: 1px solid var(--preto);
    border-radius: 10px;
}

.my-lembretes-faixaVermelhaLembretes{
    background-color: var(--vermelhoEscuro);
    color: var(--branco);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-radius: 9px 9px 0 0;
}

.my-lembretes-btnSalvarLembrete{
    background-color: var(--vermelhoEscuro);
    color: var(--branco);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    border: none;
}

.my-lembretes-btnSalvarLembrete:hover{
    opacity: 90%;
}